:root {
    --vp-c-brand-1: #28659d;
    --vp-c-brand-2: #3481d0;
    --vp-c-brand-3: #3d99f6;
    --vp-button-brand-bg: #28659d;
    --vp-button-brand-hover-bg: #3481d0;

    --c-danger: #fb2c36;
    --c-warning: #ff6900;
    --c-notification: #c9bb77;
    --c-success: #00c950;
}

.price-tag {
    font-size: 1.75rem;
    color: var(--vp-c-brand-1)
}

img {
    border-radius: 4px;
}